*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
    linear-gradient(to right,#0f172a,#1e3a5f,#0f172a);
}



/* CONTAINER */

.container{

    width: 450px;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(12px);

    padding: 35px;

    border-radius: 25px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0px 10px 40px rgba(0,0,0,0.4);

    color: white;
}



/* TITLE */

.container h1{

    text-align: center;

    font-size: 45px;

    margin-bottom: 10px;
}



/* SUBTITLE */

.subtitle{

    text-align: center;

    color: #d1d5db;

    margin-bottom: 25px;
}



/* TEXTAREA */

textarea{

    width: 100%;

    height: 180px;

    border: none;

    outline: none;

    resize: none;

    padding: 18px;

    border-radius: 15px;

    font-size: 17px;

    background: rgba(255,255,255,0.2);

    color: white;

    transition: 0.3s;
}

textarea::placeholder{

    color: #e5e7eb;
}



/* TEXTAREA FOCUS */

textarea:focus{

    box-shadow: 0px 0px 15px #38bdf8;
}



/* COUNTER */

.counter-box{

    display: flex;

    justify-content: space-between;

    margin-top: 18px;

    font-size: 16px;
}



/* WORD COUNT */

#wordCount{

    margin-top: 14px;

    color: #d1d5db;

    font-size: 16px;
}



/* PROGRESS BAR */

.progress-container{

    width: 100%;

    height: 10px;

    background: rgba(255,255,255,0.2);

    border-radius: 20px;

    margin-top: 18px;

    overflow: hidden;
}

.progress-bar{

    height: 100%;

    width: 0%;

    background:
    linear-gradient(to right,#38bdf8,#22d3ee);

    transition: 0.3s;
}



/* WARNING */

#warning{

    margin-top: 15px;

    text-align: center;

    font-size: 15px;

    color: #ff6b6b;

    font-weight: bold;
}



/* BUTTON */

button{

    width: 100%;

    margin-top: 18px;

    padding: 15px;

    border: none;

    border-radius: 15px;

    background:
    linear-gradient(to right,#3b82f6,#06b6d4);

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}



/* BUTTON HOVER */

button:hover{

    transform: scale(1.03);

    box-shadow: 0px 0px 20px #38bdf8;
}



/* COPY BUTTON */

.copy-btn{

    background:
    linear-gradient(to right,#8b5cf6,#6366f1);
}

.copy-btn:hover{

    box-shadow: 0px 0px 20px #8b5cf6;
}



/* MOBILE */

@media screen and (max-width:500px){

    .container{

        width: 90%;
    }

    .container h1{

        font-size: 35px;
    }

}